<div>
  <h2>{{pageTitle}}</h2>
  <table *ngIf="employees && employees.length">
    <thead>
      <tr>
        <th>Pronoun</th>
        <th>First</th>
        <th>Last</th>
        <th>Nickname</th>
        <th>Pronounciation</th>
        <th>Job Title</th>
        <th>TOC</th>
        <th>Role</th>
        <th>Status</th>
        <th>Checkbox</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.pronoun }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.nickname }}</td>
        <td>{{ employee.pronounciation }}</td>
        <td>{{ employee.jobTitle }}</td>
        <td>{{ employee.toc }}</td>
        <td>{{ employee.role }}</td>
        <td>{{ employee.status }}</td>
        <td>[]</td>
      </tr>
    </tbody>
  </table>
</div>

