<div>
  <form>
<span></span>

    <label for="pronoun">Pronoun</label>
    <input type="text" value="{employee.pronoun}"/>

    <label for="firstName">First Name</label>
    <input type="text" />

    <label for="lastName">Last Name</label>
    <input type="text" />

    <label for="nickname">Nickname</label>
    <input type="text" />

    <label for="pronounciation">Pronounciation</label>
    <input type="text" />

    <label for="jobTitle">Job Title</label>
    <input type="text" />

    <label for="toc">Type of Call</label>
    <input type="text" />

    <label for="role">Role</label>
    <input type="text" />

    <label for="status">Status</label>
    <input type="text" />
  </form>
</div>
